  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <%= title %>
      </h1>
    </div>
    <div class="contenido">
      <div class="row">
      <table class="center" style="margin-top:0px"; id="input">
        <tr><th><center>Escriba aquí una entrada CSV o bien<br>Arrastre un fichero CSV hasta la zona de entrada</center></th></tr>
        <tr>
          <th>
            <textarea style="margin-left:5px;" class = "drop_zone" autofocus="" cols = "80" rows = "60" id="original"></textarea>
            <br>
            <button type="button" class="pull-right example" id="parse"> Analizar!</button>
          </th>
        </tr>
        <tr>
        </tr>
        <tr>
          <th>
          <div class="example">
            Click para cargar ejemplos:
            <button class ="example" type="button">Ejemplo1</button>
            <button class ="example" type="button">Ejemplo2</button>
            <button class ="example" type="button">Ejemplo3</button>
          </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="example">
              Cargar archivo: 
              <input style="float:right; margin-right:50px" type="file" class="inputfile" />
            </div>
          </th>
        </tr>
      </table>
      <div class="output" id="finaltable">
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="three columns">
            <a id="repo1" href="https://github.com/ULL-ESIT-GRADOII-DSI/ajax-ecma6-ficheros-josue-nayra-dsi15-16-1" target="blank">Repositorio en GitHub</a>
          </div>
          <div class="three columns">
            <a id="josue" href="http://josuetc94.github.io/" target="blank"><%= autor1 %></a>
          </div>
          <div class="three columns">
            <a id="nayra" href="http://alu0100406122.github.io/" target="blank"><%= autor2 %></a>
          </div>
          <div class="three columns">
            <a id="campus" href="https://campusvirtual.ull.es/1516/course/view.php?id=144" target="blank">Asignatura</a>
          </div>
        </div>
      </div>
    </footer>
    
  </div>
