  <div class="contenido_total">
    <div class="titulo_practica">
      <h1 align="center">
        <%= title %>
      </h1>
    </div>
    <div class="contenido">
      <div class="row pull-right">
      <table class="center" style="margin-top:0px;margin-bottom:25px"; id="input">
        <tr><th><center>Escriba aquí una entrada CSV</center></th></tr>
        <tr>
          <th>
            <textarea style="margin-left:5px;" class = "drop_zone" autofocus="" cols = "50" rows = "30" id="original"></textarea>
            
            <button style="margin-left:15px;" type="button" class="pull-right" id="parse"> Analizar!</button>
          </th>
        </tr>
        <tr>
            <th>
            <div class="example">
              Guardar tabla
              <br>
              <input type="text" style="margin-top:5px;height:30px;width:30%;" id="nombre_tabla" placeholder="Nombre" required/>
              <input type="text" style="height:30px;width:35%;" id="descripcion_tabla" placeholder="Descripcion" />
              <button type="button" class="pull-right" id="guardar"> Guardar!</button>
              <div id="guardado_respuesta" style="float:right;margin-right:30px;"></div>
            </div>
            </th>
        </tr>
        <tr>
          <th>
          <div class="example">
            Cargar ejemplo
            <div id="botones"></div>
            <!--br>
            <button class ="example" type="button" style="width:20%;margin-top:15px;">Ejemplo1</button>
            <button class ="example" type="button" style="width:20%">Ejemplo2</button>
            <button class ="example" type="button" style="width:20%">Ejemplo3</button>
            <button class ="example" type="button" id="boton4" style="display:none;width:20%"></button-->
          </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="example">
              Cargar archivo: 
              <input style="float:right; margin-right:50px" type="file" class="inputfile" />
            </div>
          </th>
        </tr>
      </table>
      </div>
    </div>
    
    <div class="pull-left">
      <table id="usuarios">
        <tr><th><center>Usuarios</center></th></tr>
        <tr>
          <th>
            <div class="example">
              Nombre de usuario: 
              <input type="text" id="nombre_usuario" style="margin-top:5px;height:35px;width:35%;" placeholder="Usuario" required/>
              <button type="button" class="pull-right" id="buscar_usuario"> Buscar</button>
              <div id="mensaje_busqueda" style="float:right;margin-right:30px;"></div>
            </div>
          </th>
        </tr>
        <tr> 
          <th>
            <div class= "example">
              Usuario disponibles:
              <select style="margin-top:5px;height:35px;width:34%;" id="usuarios_ejemplo" name="usuarios_ejemplo">
                <option selected value="0"> Elige una opción </option>
                <option value="Josue">Josué</option> 
                <option value="Nayra">Nayra</option> 
              </select>
            </div>
          </th>
        </tr>
      </table>
    
    <div class="output" id="finaltable"></div>
    </div> <!-- div usuarios -->
    
    <!--footer>
      <div class="container">
        <div class="row">
          <div class="three columns">
            <a id="repo1" href="https://github.com/ULL-ESIT-GRADOII-DSI/mongodb-mongoose-csv-josue-nayra-dsi15-16-1" target="blank">Repositorio en GitHub</a>
          </div>
          <div class="three columns">
            <a id="josue" href="http://josuetc94.github.io/" target="blank"><%= autor1 %></a>
          </div>
          <div class="three columns">
            <a id="nayra" href="http://alu0100406122.github.io/" target="blank"><%= autor2 %></a>
          </div>
          <div class="three columns">
            <a id="campus" href="https://campusvirtual.ull.es/1516/course/view.php?id=144" target="blank">Asignatura</a>
          </div>
        </div>
      </div>
    </footer-->
    
  </div>
